<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/static/icon/iconfont.css">
    <script src="/lib/require.js" data-main="/js/cart.js"></script>
</head>
<body>
    @include('head.html')
    <div id="cart" class="container-fluid wrapper">
        <div class="container">
            <div class="cart_title">
                <div><input class="cart_title_selectAll" type="checkbox"> 全选</div>
                <div>商品</div>
                <div>单价</div>
                <div>数量</div>
                <div>小计</div>
                <div>操作</div>
            </div>
            <ul class="cart_list">
                
                
            </ul>
            <div class="cart_computed">
                <div class="cart_computed_price">
                    <p>总计：¥ <span class="cart_computed_all">0</span>.00</p>
                    <p>已选择 <span class="cart_computed_num">0</span> 件商品</p>
                </div>
                <div class="cart_computed_btn">
                    <a href="#">立即结算</a>
                </div>
            </div>
        </div>
        <ul class="users container">

        </ul> 
    </div>
    @include('foot.html')
</body>
</html>